<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6c8f272a-84a6-471d-ac33-063a21a6fc26/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/Pojistenci20221229084520</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pojistenci20221229084520.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4b490fc8-66e5-46cc-92c0-6127c087bde5</ProjectGuid>
    <PublishUrl>https://pojistenci20221229084520.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Pojistenci20221229084520</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>