@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center"><br /><br />
    <h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p><br />
<img src="~/Images/csob.png" class="text-center"/>
</div>

